html, body {
    margin: 0;
    height: 100%;
}

#main-doc {
  margin-left: 320px;
  padding: 10px 20px;
  background-color: #4f28ff;
  
}



ul {
  list-style-position: inside;
  list-style-type: upper-roman;
 
}

.Border1 {
  border-left: 6px solid blue;
  background-color: #28b0ff; 
    
}


#navbar {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bb28ff;
  overflow-x: hidden;
  padding-top: 5px;
  color: black;
  
  
}

.nav-link {
  
  color: black;
  background-color: #bb28ff;
  display: block;
  padding: 16px 20px;
  
}

li a:hover {
  background-color: #9882e0;
}

@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}