#main-doc {
  margin-left: 320px;
  padding: 0px 10px;
}

.main-section {
  
}

#Introduction {
 
  
}

#Capturing_Pokemon {
  
  
}

#Breeding_Pokemon {
  
  
}

#Pokemon_Natures {
  
  
}

#Effort_Values {
  
  
  
}

#Individual_Values {
  
  
}



#Egg_Moves {
  
  
}

#Evolution {
  
  
}


#Mega_Evolution {
  
  
}


#Z_Moves {
  
}

#navbar {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 5px;
  
  
}

.nav-link {
  
  
}